
dealer: <div id='d_hand'></div>
dealer total: <div id='d_value'></div>
<br><br>
player 1:<div id='p_hand'></div>
player total:<div id='p_value'></div>
<br><br>

$<span id='balance'><%= @user.balance %></span>


<%= form_tag '/bet', :id => 'deal', :remote => true do %>
  <%= text_field_tag 'bet','', :id => 'bet' %>
  <%= button_tag 'deal', :id => 'new_game' %>
<% end %>

<%= button_to 'hit', '/hit', :remote => true %>